.headerContent {
  //  fallback color for browsers that dont support gradients
  background-color: #072340;
  background-image: linear-gradient(to right, #11456d, #072849);
  padding-top: 5px;
}

p {
  color: #fff;
}

.brand-name {
  font-size: 18px;
  font-weight: bold;
}

.stashaway-logo {
  height: 35px;
  width: 40px;
}

.headerOverview {
  padding-top: 50px;
}

.previewText {
  font-size: 25px;
}

.changeText {
  font-size: 12px;
}

.logout-container {
  p {
    font-size: 13px;
  }
}
