table {
  width: 100%;
}

td {
  width: 33%;
}

.asset-table-header {
  background-color: #072340;

  th {
    color: #fff;
  }
}

.bar {
  width: 0px;
  height: 20px;
  margin: 5px;
  background-color: #4a90e2;
}

.bar-text {
  font-size: 12px;
}
